<p>Thanks for buying!</p>

Thanks for buying our ebook!

<a href="https://s3.amazonaws.com/one-month-stripe-payments-das/Daniel_Aguilar_Santos_Resume.pdf"><button type="button" class="btn btn-success btn-xs">DOWNLOAD</button></a>