<p>Gracias por tu Compra!</p>
<p><strong>RECIBO</strong></p>
			
<div id="receipt-details" class="row clearfix">
	<div class="col-sm-8 receipt-left">
		<p><strong class="font-weight-heavy"><%= @product.title %></strong><br/> <span class="font-weight-light"><%= @product.subtitle %></span></p>
	</div>
	<div class="col-sm-4">
		$<%= @product.price %>
	</div>
</div>
